In [2]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1,3,5,np.nan,4,1])
print (s)

0    1.0
1    3.0
2    5.0
3    NaN
4    4.0
5    1.0
dtype: float64

In [3]:
food_info = pd.read_csv("HomeWork.csv")
# print(food_info)
# print(help(pd.read_csv))
print(food_info.columns)
print(food_info.shape)

Index(['Êó∂Èó¥ÈïøÂ∫¶', 'UV_Total(M)', 'PV_Total(M)', 'UV_üî∫(M)', 'PV_üî∫(M)',
       'UV_by_month(M)', 'PV_by_month(M)', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')
(36, 9)

In [4]:
food_info.head(3) # ÊòæÁ§∫Â§¥3Ë°å

,Êó∂Èó¥ÈïøÂ∫¶,UV_Total(M),PV_Total(M),UV_üî∫(M),PV_üî∫(M),UV_by_month(M),PV_by_month(M),Unnamed: 7,Unnamed: 8
0,Ââç1‰∏™Êúà,51.0,229.0,51.0,229.0,51.0,229.0,51.0,0.0
1,Ââç2‰∏™Êúà,84.0,434.0,33.0,205.0,40.0,204.0,91.0,8.0
2,Ââç3‰∏™Êúà,116.0,656.0,32.0,222.0,41.0,221.0,133.0,17.0

In [7]:
data_test = food_info.sum(axis=1)
display(data_test)
data_test = food_info.sum(axis=0)
display(data_test)

0      891.0
1     1099.0
2     1438.0
3     1712.0
4     2033.0
5     2239.0
6     2534.0
7     2697.0
8     2988.0
9     3281.0
10    3444.0
11    3692.0
12    3838.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
30       0.0
31       0.0
32       0.0
33       0.0
34       0.0
35       0.0
dtype: float64

UV_Total(M)        2971.0
PV_Total(M)       18570.0
UV_üî∫(M)             390.0
PV_üî∫(M)            2490.0
UV_by_month(M)      505.0
PV_by_month(M)     2493.0
Unnamed: 7         3719.0
Unnamed: 8          748.0
dtype: float64

In [12]:
data_test = food_info['UV_Total(M)'].sum()
display(data_test)
data_test = food_info['UV_Total(M)'].count()
display(data_test)

2971.0

13

In [5]:
food_info.tail(3) # ÊòæÁ§∫Â∞æ3Ë°å

,Êó∂Èó¥ÈïøÂ∫¶,UV_Total(M),PV_Total(M),UV_üî∫(M),PV_üî∫(M),UV_by_month(M),PV_by_month(M),Unnamed: 7,Unnamed: 8
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
print(food_info.loc[3:6]) # ÊãøÂà∞3-6Ë°åÊï∞ÊçÆ

   Êó∂Èó¥ÈïøÂ∫¶  UV_Total(M)  PV_Total(M)  UV_üî∫(M)  PV_üî∫(M)  UV_by_month(M)  \
3  Ââç4‰∏™Êúà        147.0        869.0     31.0    213.0            41.0
4  Ââç5‰∏™Êúà        179.0       1090.0     32.0    221.0            42.0
5  Ââç6‰∏™Êúà        205.0       1283.0     26.0    193.0            37.0
6  Ââç7‰∏™Êúà        233.0       1484.0     28.0    200.0            39.0

   PV_by_month(M)  Unnamed: 7  Unnamed: 8
3           212.0       173.0        26.0
4           218.0       215.0        36.0
5           195.0       253.0        47.0
6           201.0       291.0        58.0

In [7]:
print(food_info["Êó∂Èó¥ÈïøÂ∫¶"]) # ÊãøÂà∞"Êó∂Èó¥ÈïøÂ∫¶"ÂàóÊï∞ÊçÆ

0      Ââç1‰∏™Êúà
1      Ââç2‰∏™Êúà
2      Ââç3‰∏™Êúà
3      Ââç4‰∏™Êúà
4      Ââç5‰∏™Êúà
5      Ââç6‰∏™Êúà
6      Ââç7‰∏™Êúà
7      Ââç8‰∏™Êúà
8      Ââç9‰∏™Êúà
9     Ââç10‰∏™Êúà
10    Ââç11‰∏™Êúà
11    Ââç12‰∏™Êúà
12    Ââç13‰∏™Êúà
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
30      NaN
31      NaN
32      NaN
33      NaN
34      NaN
35      NaN
Name: Êó∂Èó¥ÈïøÂ∫¶, dtype: object

In [8]:
col_names = food_info.columns.tolist() # ÊãøÂà∞Ë°®Â§¥ÔºåËøôÊòØ‰∏Ä‰∏™ÂàóË°®ÔºåÂèØ‰ª•ÈÅçÂéÜ
print(col_names)

['Êó∂Èó¥ÈïøÂ∫¶', 'UV_Total(M)', 'PV_Total(M)', 'UV_üî∫(M)', 'PV_üî∫(M)', 'UV_by_month(M)', 'PV_by_month(M)', 'Unnamed: 7', 'Unnamed: 8']

In [14]:
PV_100000 = food_info["PV_Total(M)"]*1000000  #Âàó‰πòÊ≥ï
print(PV_100000)

0     2.290000e+08
1     4.340000e+08
2     6.560000e+08
3     8.690000e+08
4     1.090000e+09
5     1.283000e+09
6     1.484000e+09
7     1.650000e+09
8     1.831000e+09
9     2.026000e+09
10    2.183000e+09
11    2.345000e+09
12    2.490000e+09
13             NaN
14             NaN
15             NaN
16             NaN
17             NaN
18             NaN
19             NaN
20             NaN
21             NaN
22             NaN
23             NaN
24             NaN
25             NaN
26             NaN
27             NaN
28             NaN
29             NaN
30             NaN
31             NaN
32             NaN
33             NaN
34             NaN
35             NaN
Name: PV_Total(M), dtype: float64

In [9]:
AVE = food_info["PV_Total(M)"] / food_info["UV_Total(M)"] # ÂàóÈô§‰ª•Âàó
print(AVE)

0     4.490196
1     5.166667
2     5.655172
3     5.911565
4     6.089385
5     6.258537
6     6.369099
7     6.370656
8     6.424561
9     6.472843
10    6.420588
11    6.355014
12    6.384615
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
30         NaN
31         NaN
32         NaN
33         NaN
34         NaN
35         NaN
dtype: float64

In [10]:
MAX = food_info["PV_Total(M)"].max() # ÊâæÂà∞ÊúÄÂ§ßÂÄº
print(MAX)

2490.0

In [11]:
food_info["PV_Total(M)"].isnull()  # Êü•ÁúãÊòØÂê¶‰∏∫Á©∫ÂÄº

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34     True
35     True
Name: PV_Total(M), dtype: bool

In [14]:
food_info.iat[1,1] # Êü•ÊâæÂçï‰∏™ÂçïÂÖÉÊ†ºÂÄº

84.0

In [16]:
df = pd.DataFrame(np.random.rand(5,5),columns=list("abcde"),index=list("hijkl"))
print(df)

          a         b         c         d         e
h  0.436816  0.088807  0.834588  0.162531  0.797060
i  0.982454  0.974725  0.248338  0.257267  0.982717
j  0.181840  0.023147  0.575065  0.353099  0.149367
k  0.511112  0.954592  0.997001  0.705359  0.752101
l  0.533666  0.684380  0.271450  0.276632  0.526453

# ÊòüÂ∑¥ÂÖãÊï∞ÊçÆÂàÜÊûê

In [4]:
import numpy as np
import pandas as pd

df = pd.read_csv(r"directory.csv",encoding="utf-8")  # ËØªÂèñcsvÊñá‰ª∂
print(df)

           Brand  Store Number        Store Name Ownership Type  \
0      Starbucks  47370-257954     Meritxell, 96       Licensed
1      Starbucks  22331-212325  Ajman Drive Thru       Licensed
2      Starbucks  47089-256771         Dana Mall       Licensed
3      Starbucks  22126-218024        Twofour 54       Licensed
4      Starbucks  17127-178586      Al Ain Tower       Licensed
...          ...           ...               ...            ...
25595  Starbucks  21401-212072               Rex       Licensed
25596  Starbucks  24010-226985          Panorama       Licensed
25597  Starbucks  47608-253804     Rosebank Mall       Licensed
25598  Starbucks  47640-253809      Menlyn Maine       Licensed
25599  Starbucks  47609-253286    Mall of Africa       Licensed

                                          Street Address  \
0                                      Av. Meritxell, 96
1                                   1 Street 69, Al Jarf
2                           Sheikh Khalifa Bin Zayed St.
3                                        Al Salam Street
4                        Khaldiya Area, Abu Dhabi Island
...                                                  ...
25595  141 Nguy·ªÖn Hu·ªá, Qu·∫≠n 1, G√≥c ƒë∆∞·ªùng Pasteur v√† L...
25596  SN-44, T√≤a Nh√† Panorama, 208 Tr·∫ßn VƒÉn Tr√†, Qu·∫≠n 7
25597          Cnr Tyrwhitt and Cradock Avenue, Rosebank
25598  Shop 61B, Central Square, Cnr Aramist & Coroba...
25599             Shop 2077, Upper Level, Waterfall City

                        City State/Province Country Postcode  Phone Number  \
0           Andorra la Vella              7      AD    AD500     376818720
1                      Ajman             AJ      AE      NaN           NaN
2                      Ajman             AJ      AE      NaN           NaN
3                  Abu Dhabi             AZ      AE      NaN           NaN
4                  Abu Dhabi             AZ      AE      NaN           NaN
...                      ...            ...     ...      ...           ...
25595  Th√†nh Ph·ªë H·ªì Ch√≠ Minh             SG      VN    70000  08 3824 4668
25596  Th√†nh Ph·ªë H·ªì Ch√≠ Minh             SG      VN    70000  08 5413 8292
25597           Johannesburg             GT      ZA     2194   27873500159
25598                 Menlyn             GT      ZA      181           NaN
25599                Midrand             GT      ZA     1682   27873500215

                             Timezone  Longitude  Latitude
0             GMT+1:00 Europe/Andorra       1.53     42.51
1                GMT+04:00 Asia/Dubai      55.47     25.42
2                GMT+04:00 Asia/Dubai      55.47     25.39
3                GMT+04:00 Asia/Dubai      54.38     24.48
4                GMT+04:00 Asia/Dubai      54.54     24.51
...                               ...        ...       ...
25595          GMT+000000 Asia/Saigon     106.70     10.78
25596          GMT+000000 Asia/Saigon     106.71     10.72
25597  GMT+000000 Africa/Johannesburg      28.04    -26.15
25598  GMT+000000 Africa/Johannesburg      28.28    -25.79
25599  GMT+000000 Africa/Johannesburg      28.11    -26.02

[25600 rows x 13 columns]

In [8]:
# È¶ñÂÖàÁúã‰∏ãÊòüÂ∑¥ÂÖãÊóó‰∏ãÊúâ‰ªÄ‰πàÂìÅÁâå

data = df['Brand'].unique()  # uniqueÂáΩÊï∞ÊòØÊåáÂîØ‰∏ÄÂÄºÔºåÂç≥Êü•ÁúãÂîØ‰∏ÄÂÄº
print(data)
data = df['Brand'].nunique()  # Êü•ÁúãÂîØ‰∏ÄÂÄºÁöÑÊï∞Èáè
print(data)

['Starbucks' 'Teavana' 'Evolution Fresh' 'Coffee House Holdings']
4

In [10]:
df.isnull.sum()

AttributeError: 'function' object has no attribute 'sum'

In [14]:
import pandas as pd
import numpy as np

df = pd.DataFrame([[1, 'James', 'male', 98, 87, 85],
                   [2, 'Betty', 'female', 88, 97, 75],
                   [3, 'Jack', 'male', 90, 89, 95],
                   [4, 'Lily', 'female', 81, 100, 99],
                   [5, 'Bill', 'male', 94, 91, 95]],
                  columns=['id', 'name', 'gender', 'math', 'english', 'physics'])

df_group = df.groupby('gender')
print(df_group[['math', 'english', 'physics']].agg('mean'))
print(df_group[['math', 'english', 'physics']].agg(['mean', 'max']))
print(df.sort_values("math"))
print(df.sort_values(["math", "physics"], ascending=False))

        math  english    physics
gender
female  84.5     98.5  87.000000
male    94.0     89.0  91.666667
        math     english         physics
        mean max    mean  max       mean max
gender
female  84.5  88    98.5  100  87.000000  99
male    94.0  98    89.0   91  91.666667  95
   id   name  gender  math  english  physics
3   4   Lily  female    81      100       99
1   2  Betty  female    88       97       75
2   3   Jack    male    90       89       95
4   5   Bill    male    94       91       95
0   1  James    male    98       87       85
   id   name  gender  math  english  physics
0   1  James    male    98       87       85
4   5   Bill    male    94       91       95
2   3   Jack    male    90       89       95
1   2  Betty  female    88       97       75
3   4   Lily  female    81      100       99