In [52]:
import pandas as pd
import numpy as np

In [53]:
# 导入数据源
data_source = pd.read_csv("data_source.csv")
data_source

   reg_date  count
0  5/1/2020      4
1  5/5/2020      2
2  5/3/2020      3
3  5/4/2020      2

In [54]:
# 对时间转换格式
data_source['reg_date'] = pd.to_datetime(data_source['reg_date'])
data_source

    reg_date  count
0 2020-05-01      4
1 2020-05-05      2
2 2020-05-03      3
3 2020-05-04      2

In [55]:
# 对时间排序
data_source.sort_values('reg_date', inplace=True)
data_source

    reg_date  count
0 2020-05-01      4
2 2020-05-03      3
3 2020-05-04      2
1 2020-05-05      2

In [56]:
# 取月份
data_source['Month'] = data_source['reg_date'].map(lambda x: 100*x.year + x.month)
t = data_source.copy()
t

    reg_date  count   Month
0 2020-05-01      4  202005
2 2020-05-03      3  202005
3 2020-05-04      2  202005
1 2020-05-05      2  202005

In [57]:
# 计算count值
count = t.groupby('Month')['count'].sum()
count

Month
202005    11
Name: count, dtype: int64

In [59]:
# 计算previous
data_source['previous'] = data_source["count"].shift(1)
q = data_source.copy()
q

    reg_date  count   Month  previous
0 2020-05-01      4  202005       NaN
2 2020-05-03      3  202005       4.0
3 2020-05-04      2  202005       3.0
1 2020-05-05      2  202005       2.0

In [62]:
# 计算delta值
q['delta'] = q['count'] - q['previous']
q

    reg_date  count   Month  previous  delta
0 2020-05-01      4  202005       NaN    NaN
2 2020-05-03      3  202005       4.0   -1.0
3 2020-05-04      2  202005       3.0   -1.0
1 2020-05-05      2  202005       2.0    0.0

In [73]:
# 计算累加值
data_source['accumulation'] = np.cumsum(data_source['count'])
data_source

    reg_date  count   Month  previous  accumulation
0 2020-05-01      4  202005       NaN             4
2 2020-05-03      3  202005       4.0             7
3 2020-05-04      2  202005       3.0             9
1 2020-05-05      2  202005       2.0            11